

/* Resetting some defaults so we can define things manually */

body,
h1,
p {
  margin: 0;
}
h1{
  line-height: 70px;
}
body{
  background-color: black;
}
/* Styling our header */
header {
  background-color: #5c2d2d;
  text-align: center;
  color: #fbeec1;
  height: 70px;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
}

#svg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

g{
  fill: #cb4335;
}

table{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
}

#table1{
  font-size:20px;
  color: white;
  td, th{
    padding: 15px 20px;
    color: black;
  }
  th{
    background-color:#de8e75;
  }
  td{
    background-color: #c5e3f6;
  }
  caption{
    font-size: 25px;
    padding-bottom: 20px;
  }
  padding-bottom: 40px;
  margin-top: 100px;
}


#table2{
  font-size:10px;
  td, th{
    padding: 8px 6px;
  }
  color: white;
  td, th{
    background-color: black;
  }
  th{
    border-bottom: #b92b2b solid 1px;
  }
  td{
    border-top: #b92b2b solid 1px;
  }
  caption{
    font-size: 18px;
    padding-bottom: 10px;
  }
}


rect{
  stroke-width: 1px;
}

.pie-label{
  font-size: 25px;
  font-weight: bold;
  fill: black;
  text-anchor: middle;
  font-family:fantasy;
}

caption{
  font-weight: bold;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
}

.inner-title{
  font-weight: bold;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}